#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64"
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Accept Eula
eula --agreed

reboot

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
#rootpw --iscrypted $6$yVwHpSMgBEWj/UTF$Iu277B4TYJNP4YZ7JUTOotBj7FNODiAcim1ihsiN0qcVFfRsgu6Q8YFgM3CkEHnj3vn9A4uxosJjK9CE3gjM..
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Europe/Brussels --isUtc
user --groups=wheel --name=admin --password=$6$/4qet.dVnKBLiR5j$.z1RElj/iR7kcxTecMW8lBgG/wCsq.p5zf3aCynPFjjgeHVFK51fomBBRyZDwmsliBHXD7pDxp3AX.1/bU8UG. --iscrypted --gecos="admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda

%packages
@core
chrony
kexec-tools

%end

%post
# Enable passwordless sudo
echo "%wheel        ALL=(ALL)       NOPASSWD: ALL" > /etc/sudoers.d/pwless
chmod 440 /etc/sudoers.d/pwless
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
